body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #454D6B;
}

.container {
    background: #353B50;
    color: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    background: transparent;
    border: none;
    border-bottom: 2px solid gray;
    padding: 5px;
    color: white;
    outline: none;
}

.input-group input::placeholder {
    color: white;
    opacity: .7;
}

.input-group input:focus {
    border-bottom-color: white;
}

button {
    background: #A13854;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background: red;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: gray;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
