.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #454D6B;
    color: white;
}

.content h1 {
    margin: auto;
}